{% extends "spotifyapp/base.html" %}

{% block title %}Song Search{% endblock %}

{% block content %}
<h1>Song Search Page</h1>
<form method="get" action="">
    {{ filter.form }} {# Include the filter form here #}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
{% if filter.qs %}
    <h2>Search Results:</h2>
    <ul class="list-group">
        {% for song in filter.qs %}
        <li class="list-group-item">
            <a href="{% url 'song-info' song.id %}">{{ song.title }}</a>
            {{ song.streams }}
        </li>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}
