{% extends "spotifyapp/base.html" %}

{% block title %}Song Search{% endblock %}

{% block content %}
<h1>Song Search Page</h1>
<style>
    .horizontal-form-row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
    }

    .horizontal-form-row .form-group {
        flex: 1;
        margin: 0 15px;
    }
</style>

<form method="get" action="">
    <div class="horizontal-form-row">
        <div class="form-group col-md-2">
            {{ filter.form.title.label_tag }}
            {{ filter.form.title }}
        </div>
        <div class="form-group col-md-2">
            {{ filter.form.released_year.label_tag }}
            {{ filter.form.released_year }}
        </div>
        <div class="form-group col-md-2">
            {{ filter.form.danceability_percentage.label_tag }}
            {{ filter.form.danceability_percentage }}
        </div>
        <div class="form-group col-md-2">
            {{ filter.form.energy_percentage.label_tag }}
            {{ filter.form.energy_percentage }}
        </div>
        <div class="form-group col-md-2">
            {{ filter.form.acousticness_percentage.label_tag }}
            {{ filter.form.acousticness_percentage }}
        </div>
        <div class="form-group col-md-2">
            {{ filter.form.speechiness_percentage.label_tag }}
            {{ filter.form.speechiness_percentage }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-3">Search</button>
</form>


<div class="row">
    <!-- Left Column (Table) -->
    <div class="col-md-6">
        {% if filter.qs %}
            <h2>Songs</h2>
            <ul class="list-group">
                {% for song in filter.qs %}
                <li class="list-group-item bg-light-grey text-spotify-green">
                    <a class="text-white no-underline" href="{% url 'song-info' song.id %}">{{ song.title }}</a>
                    {{ song.streams }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
            <!-- Right Column (Other Content) -->
    <div class="col-md-6">
        <h2>Stats</h2>
    </div>
</div>


{% endblock %}
